<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CustomerManagementEntities" connectionString="metadata=res://*/CustomerManagementModel.csdl|res://*/CustomerManagementModel.ssdl|res://*/CustomerManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\V11.0;initial catalog=CustomerManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>