<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CustomerManagementEntities" connectionString="metadata=res://*/CustomerManagementModel.csdl|res://*/CustomerManagementModel.ssdl|res://*/CustomerManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\V11.0;initial catalog=CustomerManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICustomerMgmService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8383/CustomerMgmService/CMS"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICustomerMgmService"
          contract="CustomerMgmService.ICustomerMgmService" name="NetTcpBinding_ICustomerMgmService">
        <identity>
          <userPrincipalName value="RAFA\fud_000" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>